h1 {text-align:center;color:#F25116; margin:0;padding-top:10px;padding-bottom:10px;
  background-color:#025951}
body{margin:0px;background-color:#027368}
h2 {color:#ffc400;margin-bottom:3px}
h3 {color:#ffc400;margin-bottom:3px}
p {margin-top:0px;color:#79def8}
li{margin-top:0px;color:#79def8}
#contents {margin:10px}
